
* {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	box-sizing: border-box;

}
header {
	background-image: url(taust.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	background-position: center center;
	position: relative;
}



/*
html, body {height:100%}

body{
  background: url("taust.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  
}

/*
.hunt {
    float: right;
    width: 300px;
    margin-right: 150px;
  }
.kuu {
    margin-top:0px;
    margin-left: 50px;
  }
.ulguma {
    text-align: center;
    font-size: 16mm ;
    font-family: 'Lobster', cursive;
    color: rgb(192, 101, 101);
  }
 

  .taust {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

  }

  */