.hunt {
    float: right;
    width: 300px;
    padding: 10px;
  }
.kuu {
    margin-top:0px;
    margin-left: 50px;
  }
.hulguma {
    text-align: center;
    font-size: 16mm ;
    color: rgb(192, 101, 101);
  }